body {
  background-color: #FFF2B2;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
}

.asset-list-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
}


